@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
}

body {
  background-color: #f1f387;
  font-family: 'Roboto Mono', 'san-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}